{
.appVersion = "3509";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
}
);
classes = (
{
code = "zero one two three four five six seven eight nine
";
name = Numeral;
}
);
date = "2015-12-22 01:38:45 +0000";
familyName = Arcadia;
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem latn dflt;
languagesystem latn AZE;
languagesystem latn CRT;
languagesystem latn KAZ;
languagesystem latn TAT;
languagesystem latn TRK;
languagesystem latn ROM;
languagesystem latn MOL;
languagesystem latn NLD;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature locl;
feature tnum;
feature sups;
feature numr;
feature dnom;
feature frac;
feature ordn;
";
tag = aalt;
},
{
automatic = 1;
code = "lookup ccmp_DFLT_1 {
	@CombiningTopAccents = [acutecomb brevecomb caroncomb circumflexcomb commaturnedabovecomb dieresiscomb dotaccentcomb gravecomb hungarumlautcomb macroncomb ringcomb tildecomb];
	lookupflag UseMarkFilteringSet @CombiningTopAccents;
	sub i' @CombiningTopAccents by idotless;
	sub j' @CombiningTopAccents by jdotless;
} ccmp_DFLT_1;

lookup ccmp_latn_1 {
	lookupflag 0;
	sub fi by f i;
	sub fl by f l;
} ccmp_latn_1;

script latn;
lookup ccmp_latn_1;
";
tag = ccmp;
},
{
automatic = 1;
code = "script latn;
language AZE;
lookup locl_latn_0 {
	sub i by idotaccent;
} locl_latn_0;
language CRT;
lookup locl_latn_0;
language KAZ;
lookup locl_latn_0;
language TAT;
lookup locl_latn_0;
language TRK;
lookup locl_latn_0;

script latn;
language ROM;
lookup locl_latn_1 {
	sub Scedilla by Scommaaccent;
	sub scedilla by scommaaccent;
	sub Tcedilla by Tcommaaccent;
	sub tcedilla by tcommaaccent;
} locl_latn_1;
language MOL;
lookup locl_latn_1;

script latn;
language NLD;
lookup locl_latn_2 {
	sub iacute j' by jacute;
	sub Iacute J' by Jacute;
} locl_latn_2;
";
tag = locl;
},
{
automatic = 1;
code = "sub one by onesuperior;
sub two by twosuperior;
sub three by threesuperior;
";
tag = sups;
},
{
automatic = 1;
code = "sub zero by zero.numr;
sub one by one.numr;
sub two by two.numr;
sub three by three.numr;
sub four by four.numr;
sub five by five.numr;
sub six by six.numr;
sub seven by seven.numr;
sub eight by eight.numr;
sub nine by nine.numr;
";
tag = numr;
},
{
automatic = 1;
code = "sub zero by zero.dnom;
sub one by one.dnom;
sub two by two.dnom;
sub three by three.dnom;
sub four by four.dnom;
sub five by five.dnom;
sub six by six.dnom;
sub seven by seven.dnom;
sub eight by eight.dnom;
sub nine by nine.dnom;
";
tag = dnom;
},
{
automatic = 1;
code = "lookup FRAC {
	sub slash by fraction;
} FRAC;
lookup UP {
	sub [zero one two three four five six seven eight nine] by [zero.numr one.numr two.numr three.numr four.numr five.numr six.numr seven.numr eight.numr nine.numr];
} UP;
lookup DOWN {
	sub fraction [zero.numr one.numr two.numr three.numr four.numr five.numr six.numr seven.numr eight.numr nine.numr]' by [zero.dnom one.dnom two.dnom three.dnom four.dnom five.dnom six.dnom seven.dnom eight.dnom nine.dnom];
	sub [zero.dnom one.dnom two.dnom three.dnom four.dnom five.dnom six.dnom seven.dnom eight.dnom nine.dnom] [zero.numr one.numr two.numr three.numr four.numr five.numr six.numr seven.numr eight.numr nine.numr]' by [zero.dnom one.dnom two.dnom three.dnom four.dnom five.dnom six.dnom seven.dnom eight.dnom nine.dnom];
} DOWN;
";
tag = frac;
},
{
automatic = 1;
code = "sub [zero one two three four five six seven eight nine] [A a]' by ordfeminine;
sub [zero one two three four five six seven eight nine] [O o]' by ordmasculine;
";
tag = ordn;
},
{
automatic = 1;
code = "sub zero by zero.tf;
sub one by one.tf;
sub two by two.tf;
sub three by three.tf;
sub four by four.tf;
sub five by five.tf;
sub six by six.tf;
sub seven by seven.tf;
sub eight by eight.tf;
sub nine by nine.tf;
";
tag = tnum;
},
{
automatic = 1;
code = "lookupflag IgnoreMarks;
sub f i by fi;
sub f l by fl;
";
tag = liga;
}
);
fontMaster = (
{
axesValues = (
400
);
customParameters = (
{
name = typoLineGap;
value = 0;
},
{
name = hheaLineGap;
value = 0;
},
{
name = "Master Icon Glyph Name";
value = T;
}
);
guides = (
{
lockAngle = 1;
locked = 1;
name = "p bottom";
pos = (0,-420);
}
);
id = m01;
metricValues = (
{
over = 32;
pos = 2000;
},
{
pos = 1500;
},
{
pos = 1100;
},
{
over = -16;
},
{
over = -64;
pos = -640;
}
);
name = Regular;
stemValues = (
180,
170
);
userData = {
GSCornerRadius = 240;
};
}
);
kerningLTR = {
m01 = {
"@MMK_L_A" = {
"@MMK_R_A" = 80;
"@MMK_R_T" = -220;
"@MMK_R_V" = -150;
};
"@MMK_L_C" = {
"@MMK_R_v" = -50;
};
"@MMK_L_T" = {
"@MMK_R_A" = -220;
"@MMK_R_n" = -150;
"@MMK_R_o" = -150;
"@MMK_R_p" = -150;
"@MMK_R_u" = -150;
"@MMK_R_v" = -120;
"@MMK_R_x" = -100;
z = -100;
};
"@MMK_L_V" = {
"@MMK_R_A" = -150;
"@MMK_R_V" = 80;
"@MMK_R_o" = -100;
"@MMK_R_u" = -80;
};
"@MMK_L_fraction" = {
four.dnom = -180;
};
"@MMK_L_hyphen" = {
Y = -100;
};
"@MMK_L_k" = {
"@MMK_R_o" = -20;
};
"@MMK_L_n" = {
"@MMK_R_quote" = -40;
};
"@MMK_L_o" = {
"@MMK_R_quote" = -40;
};
"@MMK_L_q" = {
"@MMK_R_quote" = -40;
};
"@MMK_L_quoteright" = {
"@MMK_R_n" = -100;
"@MMK_R_o" = -120;
};
"@MMK_L_v" = {
"@MMK_R_o" = -40;
};
seven.numr = {
"@MMK_R_fraction" = -240;
fraction = -320;
};
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
properties = (
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright 2026 Forest katsch";
}
);
},
{
key = designers;
values = (
{
language = dflt;
value = "Forest Katsch";
}
);
},
{
key = designerURL;
value = "https://x.com/forestkatsch";
},
{
key = licenses;
values = (
{
language = dflt;
value = "This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org";
}
);
},
{
key = licenseURL;
value = "https://openfontlicense.org";
},
{
key = vendorID;
value = ZLSA;
}
);
stems = (
{
name = vertical;
},
{
horizontal = 1;
name = horizontal;
}
);
unitsPerEm = 2048;
userData = {
GSDimensionPlugin.Dimensions = {
m01 = {
HH = "170";
HV = "180";
OH = "170";
OV = "180";
nV = "176";
nd = "170";
oH = "170";
oV = "175";
};
};
};
versionMajor = 1;
versionMinor = 0;
}
