(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
I.ss01,
a,
b,
c,
d,
e,
f,
g,
h,
i,
idotless,
j,
jdotless,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
space,
florin,
dotaccentcomb,
_corner.v,
_cap.C_end,
_cap.a_shoulder,
_cap.b_shoulder,
_cap.c_end,
_cap.m_shoulder,
_cap.n_shoulder,
_cap.r_end,
_corner.O_inside,
_corner.O_outside,
_corner.S_inside,
_corner.S_outside,
_corner.inktrap,
_corner.o_inside,
_corner.o_inside_small,
_corner.o_outside,
_corner.o_outside_small,
_corner.s_inside,
_corner.s_outside
)