(
A,
Aacute,
Abreve,
Abrevedotbelow,
Acaron,
Acircumflex,
Acircumflexdotbelow,
Adieresis,
Adieresismacron,
Adotbelow,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
Bdotbelow,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcircumflexbelow,
Dcroat,
Ddotbelow,
Dmacronbelow,
Eth,
E,
Eacute,
Ecaron,
Ecedilla,
Ecircumflex,
Ecircumflexdotbelow,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Emacron,
Eogonek,
Etilde,
Eturned,
Schwa,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbar,
Hcircumflex,
Hdotbelow,
I,
IJ,
Iacute,
Icaron,
Icircumflex,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcaron,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcircumflexbelow,
Lcommaaccent,
Ldotbelow,
Lslash,
M,
Macute,
N,
Nacute,
Ncaron,
Ncircumflexbelow,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ntilde,
O,
Oacute,
Ocaron,
Ocircumflex,
Ocircumflexdotbelow,
Odieresis,
Odieresismacron,
Odotbelow,
Ograve,
Ohungarumlaut,
Omacron,
Omacronacute,
Omacrongrave,
Oslash,
Oslashacute,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotbelow,
Germandbls,
T,
Tcaron,
Tcedilla,
Tcircumflexbelow,
Tcommaaccent,
Tdotbelow,
Tmacronbelow,
U,
Uacute,
Ubreve,
Ucircumflex,
Udieresis,
Udotbelow,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
Vturned,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotbelow,
Ygrave,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
a,
aacute,
abreve,
abrevedotbelow,
acaron,
acircumflex,
acircumflexdotbelow,
adieresis,
adieresismacron,
adotbelow,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
bdotbelow,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcircumflexbelow,
dcroat,
ddotbelow,
dmacronbelow,
eth,
e,
eacute,
ecaron,
ecedilla,
ecircumflex,
ecircumflexdotbelow,
edieresis,
edotaccent,
edotbelow,
egrave,
emacron,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
hcircumflex,
hdotbelow,
i,
idotless,
iacute,
icaron,
icircumflex,
idieresis,
idotaccent,
idotbelow,
igrave,
imacron,
iogonek,
itilde,
ij,
j,
jdotless,
jacute,
jcircumflex,
k,
kcaron,
kcommaaccent,
l,
lacute,
lcaron,
lcircumflexbelow,
lcommaaccent,
ldotbelow,
lslash,
m,
macute,
n,
nacute,
ncaron,
ncircumflexbelow,
ncommaaccent,
ndotaccent,
ndotbelow,
ntilde,
o,
oacute,
ocaron,
ocircumflex,
ocircumflexdotbelow,
odieresis,
odieresismacron,
odotbelow,
ograve,
ohungarumlaut,
omacron,
omacronacute,
omacrongrave,
oslash,
oslashacute,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotbelow,
germandbls,
t,
tcaron,
tcedilla,
tcircumflexbelow,
tcommaaccent,
tdotbelow,
tmacronbelow,
u,
uacute,
ubreve,
ucircumflex,
udieresis,
udotbelow,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
vturned,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotbelow,
ygrave,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
ordfeminine,
ordmasculine,
Delta,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
space,
nbspace,
enspace,
emspace,
punctuationspace,
thinspace,
narrownbspace,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
baht,
at,
paragraph,
copyright,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
cent,
currency,
dollar,
euro,
sterling,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
asciicircum,
infinity,
micro,
percent,
perthousand,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
dotbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
circumflexbelowcomb,
macronbelowcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
_part.dash,
_part.Lslash,
_part.Oslash,
_part.arrow_head,
_part.equal_bar,
_part.oslash,
_part.percent_circle,
_part.percent_slash,
_corner.letter_v,
_cap.end_lg,
_cap.end_md,
_cap.letter_m,
_cap.letter_n,
_cap.letter_r,
_cap.shoulder_md,
_cap.shoulder_sm,
_corner.inside_lg,
_corner.inside_md,
_corner.inside_sm,
_corner.outside_lg,
_corner.outside_md,
_corner.outside_sm
)