(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
idotless,
j,
jdotless,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
question,
slash,
backslash,
hyphen,
endash,
emdash,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotedbl,
quotesingle,
florin,
plus,
minus,
multiply,
divide,
equal,
greater,
less,
dotaccentcomb,
_part.dash,
_corner.letter_v,
_cap.end_lg,
_cap.end_md,
_cap.letter_m,
_cap.letter_n,
_cap.letter_r,
_cap.shoulder_md,
_cap.shoulder_sm,
_corner.inside_lg,
_corner.inside_md,
_corner.inside_sm,
_corner.outside_lg,
_corner.outside_md,
_corner.outside_sm
)